@page
@model RentACarApp.Web.Pages.CarSearchModel
@{
}

<h1>Car Search</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.StartDate"></label>
        <input asp-for="@Model.StartDate" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndDate"></label>
        <input asp-for="@Model.EndDate" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>